html,
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.App {
	text-align: center;
}

.item-container {
	width: 100%;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
